body {
	margin:0 auto;

	font-family: Raleway, Arial, sans-serif;
	background-color: #e0ebe8;
    overflow-x:hidden;

}
.wrap {
	position: relative;
	width: 100%;
  }

  .image {
	display: block;
	width: 100%;
	
	height: auto;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color:rgb(83, 109, 83);
  }
  
  .wrap:hover .overlay {
	opacity: 0.9;
  }
  
  .text {
	color: white;
	font-size: 2vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
.me{
	border-radius: 50%;
}
#about {
	color: #45b29a;


}


#portfolio {
	color: #45b29a;
}

.profileImage {
	border-radius: 50%;
}
a:hover {
	color: #c4e8c4
}
i:hover {
	color: #c4e8c4;
}



.bounce {
	animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-30px);
	}
	60% {
	  transform: translateY(-15px);
	}
  }


.newColor{
	color:#45b29a;
}
.bg{
	background-color: #ffffff;

}
.background {


	background-image: url('./img/land2.svg');
	background-size: cover;
	background-position: center center;

	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;

}



hr{
	width:80%;
}
.arrow {
	position:absolute;
    width:100%;
	bottom:0;
	font-size:3vh;
    text-align:center;
  }
.button{
  transition: all 500ms ease;

}
.button:hover {
	animation: bounce 1s;
}
.bounceit:hover {
	animation: bounce 1s;
}
.bounceit{
	transition: all 500ms ease;
}
.type{
	text-align:center;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.imofir{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size:12vh;
	width:100vw;
}
.webdev{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size:3vh;
	width:100vw;
}
#myID {
	color: black;
  position:fixed;
  bottom:10;
  right:100;
  z-index: 9999;
}
.nav-icons{
	right:0;
    font-size: 3vh;

    padding: 3vh 0  0 3vw ;
		position:fixed;
		z-index: 9999;
}

.accordionButton {
	display: none;
    float: left;
    _float: none;
    cursor: pointer;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 3vh 0  0 3vw ;
		position:fixed;
		z-index: 9999;
}
.mobnav{
	padding:6vh 0 0 0;
}
.accordionContent {
	
	width:25vh;
	float: left;
	_float: none;
	background: rgb(79, 87, 81);

	
	text-align: center;
	font-weight: 500;
	padding: 3vh 0 3vh 0;
	color: #ffffff;
}
.nav-mobile{
	width:25vh;
	float:left;
	font-size:2vh;
}



.navbar-active{

	color: #ACBCAF;
	    text-decoration: none;
	    font-weight: 500;
	    background-color: #ffffff;
	    -moz-border-radius: 3px;
	    border-radius: 3px;


}
#navbar {
	font-weight: 500;
	z-index: 9999;
	display: block;
	-webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;
	transition: .5s all ease-out;
	color: #ffffff;
	text-decoration: none;
	

}

#navbarchange {
	font-weight: 500;
	z-index: 9999;
	display:none;
	    height: 10vh;
	    position: fixed;
	    transition:  0.2s ease-in-out;
	    width: 100%;
	    text-transform: uppercase;
	    font-weight: 500;
		background-color: #e0ebe8;


}
a:hover{
	text-decoration: none;

}
a:focus{
	outline : none;
	text-decoration: none;

}
a:active{
	outline : none;
	text-decoration: none;

}
a {
	padding: 1vh;
	color: #45b29a;
	text-decoration: none;
	font-weight: bold;
	border:none;
	outline : none;
}
.aligncenter{
	text-align:left;
}
.hiddendevelop{
	display: none;
}
/*smaller than 576px*/
@media screen and (max-width : 576px){
	
	.developimage{
		display: none;
	}
	.hiddendevelop{
		display: block;
	}
	.aligncenter{
		text-align:center;
	}
	.text{

		font-size:3vh;
	}
	
	
	.x1{
		display:none;

	}

	.x4
	{
		display:none;

	}
	
}
/*smaller than 750px */
@media screen and (max-width : 768px){
	.social{
		font-size:0;
	}
	.x1{
	display:none;
	}

	.x4
	{
		display:none;

	}
	


	.accordionButton{
		display: block;

	}

	#navbar{
		display:none;
	}

	.accordionContent{
		display: none;

	}
}
@media screen and (max-width : 900px){

	.x1{
		display:none;
		}
	
		.x4
		{
			display:none;
	
		}
}
/*MOVING CLOUDS*/

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	opacity:0.7;
	-webkit-animation: animateCloud 40s linear infinite;
	-moz-animation: animateCloud 40s linear infinite;
	animation: animateCloud 40s linear infinite;
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x4 {
	opacity:0.7;
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}